/* src/index.css */
body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.message-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-input button {
  padding: 10px 20px;
  border: none;
  background: #4caf50;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.user-message-container {
}

.llm-message-container {
}


.user-message {
  justify-content: right;
  text-align: right;
}

.llm-message {
  text-align: left;

}
